---
import { t, changeLanguage } from "i18next";
import SubPageLayout from "../../layouts/SubPageLayout.astro";
import PomodoroApp from "../../components/tools/Pomodoro.svelte";

changeLanguage("zh");

const trans = {
    start: t("tools.pomodoro.start"),
    pause: t("tools.pomodoro.pause"),
    skip: t("tools.pomodoro.skip"),
    working: t("tools.pomodoro.working"),
    break: t("tools.pomodoro.break"),
};
---

<SubPageLayout titleKey="tools.pomodoro.title">
  <div class="container">
    <PomodoroApp client:load {trans} />
  </div>
</SubPageLayout>

<style>
  .container {
    max-width: 32rem;
  }
</style>
