---
import { getCurrentTranslations, getLocaleStaticPaths } from '~/i18n';
import SubPageLayout from '~/layouts/SubPageLayout.astro';

export const getStaticPaths = getLocaleStaticPaths;

const t = getCurrentTranslations(Astro.params);
---

<SubPageLayout title={t.site.art}>
  <div class="container">
    <p class="text-center">目前，这里还啥都没有 - -</p>
  </div>
</SubPageLayout>

<style></style>
