---
import { t, changeLanguage } from "i18next";
import SubPageLayout from "../../../layouts/SubPageLayout.astro";
import Decide from "../../../components/tools/Decide.svelte";
import { Icon } from "astro-icon/components";

changeLanguage("en");

const trans = {
    dice: t("tools.random.dice"),
    int: t("tools.random.int"),
    throw: t("tools.random.throw"),
    decideHelper: t("tools.random.decideHelper"),
    addBelow: t("tools.random.addBelow"),
    makeDecide: t("tools.random.makeDecide"),
    add: t("tools.random.add"),
    clear: t("tools.random.clear"),
    remove: t("tools.random.remove"),
    optionTip: t("tools.random.optionTip"),
};
---

<SubPageLayout titleKey="tools.random.title">
  <div class="container">
    <Decide client:load trans={trans}>
      <Icon slot="dice-icon" name="mdi:dice" />
      <Icon
        slot="right-arrow-icon"
        class="right-arrow"
        name="mdi:arrow-right"
      />
      <Icon slot="add-icon" name="mdi:plus" />
      <Icon slot="clear-icon" name="mdi:close" />
    </Decide>
  </div>
</SubPageLayout>

<style>
  .container {
    max-width: 32rem;
  }
  [data-icon] {
    font-size: 2rem;
  }
  .right-arrow {
    color: #ccc;
  }
</style>
