body {
  font-family: var(--font-main);
  font-weight: 500;
  color: var(--color-on-background);

  background-color: var(--color-background);
  background-image: radial-gradient(
    circle farthest-corner at 50% 20%,
    var(--color-background3) 0%,
    var(--color-background2) 25.2%,
    var(--color-background) 100%
  );
}

a:any-link {
  color: var(--color-on-background);
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.5rem;
}

input[type='checkbox'] {
  width: 1.5rem;
  aspect-ratio: 1 / 1;
}

.button-primary {
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  gap: 0.5rem;

  transition: border-radius 0.2s ease-out;

  &:enabled:hover {
    border-radius: 1rem;
  }

  &:disabled {
    background-color: var(--color-background-disabled);
  }
}
