$color-white: #fff;

$color-gray: #555;
$color-gray-light: #777;
$color-gray-x-light: #ccc;
$color-gray-dark: #333;

// 乳白
$color-milk: #fbf2e3;

// 青矾绿
$color-green: #2c9678;
$color-green-dark: #1f6954;
