:root {
  --color-background: oklch(96.154% 0.00805 98.111);
  --color-background-disabled: oklch(65.125% 0.01012 106.797);
  --color-on-background: oklch(31.586% 0.02832 206.777);
  --color-on-background-light: oklch(78.109% 0.01689 206.69);

  --color-main-header: oklch(99.626% 0.01434 111.024 / 0.052);

  --color-surface: oklch(90.402% 0.03031 177.695);
  --color-primary: oklch(71.488% 0.08843 167.659);
  --color-on-primary: white;

  --font-main: 'Poppins', 'Noto Sans SC Variable', sans-serif;

  accent-color: var(--color-primary);
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
