.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-s {
  gap: 0.5rem;
}

.gap-m {
  gap: 1rem;
}

.gap-l {
  gap: 2rem;
}

.mb-s {
  margin-bottom: 0.5rem;
}

.mb-m {
  margin-bottom: 1rem;
}

.pixel {
  image-rendering: pixelated;
}

.text-center {
  text-align: center;
}
