---
import { Icon } from "astro-icon/components";
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import BaseLayout from "../../layouts/BaseLayout.astro";

changeLanguage("en");
---

<BaseLayout title="404">
  <main class="container">
    <Icon name="mdi:emoticon-sad-outline" class="icon mx-auto" />
    <h2 class="mb-m">{t("site.notFound")}</h2>
    <a href={localizePath("/")} class="link--primary text-icon-container">
      {t("site.backHome")}
      <Icon name="mdi:arrow-left" />
    </a>
  </main>
</BaseLayout>

<style>
  main {
    padding-top: 9rem;
    padding-bottom: 9rem;

    text-align: center;
  }
  h2 {
    font-size: 2rem;
    font-weight: normal;
  }
  .container {
    max-width: 32rem;
  }
  .icon {
    color: #ccc;
    font-size: 5rem;
  }
</style>
