---
import { t, changeLanguage } from "i18next";
import SubPageLayout from "../../layouts/SubPageLayout.astro";

changeLanguage("en");
---

<SubPageLayout titleKey="site.art">
  <div class="container">
    <p class="text-center">目前，这里还啥都没有 - -</p>
  </div>
</SubPageLayout>

<style></style>
