---
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import { Icon } from "astro-icon";
import SubPageLayout from "../../layouts/SubPageLayout.astro";
import GameCard from "../../components/GameCard.astro";
import touchex from "../../images/touchex/TouchExCard.webp";

changeLanguage("en");
---

<SubPageLayout titleKey="site.games">
  <div class="container games">
    <GameCard
      gameKey="cquHorror"
      imgSrc="/images/cqu-horror/cquhorrorCard.webp"
      href={localizePath("/games/cquhorror")}
    />
    <GameCard
      gameKey="sb"
      imgSrc="/images/sb/SBCard.webp"
      href={localizePath("/games/sb")}
    />
    <GameCard
      gameKey="intoSoil"
      imgSrc="/images/into-soil/IntoSoilCard.webp"
      href={localizePath("/games/intosoil")}
    />
    <GameCard
      gameKey="beltRush"
      imgSrc="/images/belt-rush/BeltRushCard.webp"
      href={localizePath("/games/beltrush")}
    />
    <GameCard
      gameKey="touchex"
      imgSrc={touchex}
      href={localizePath("/games/touchex")}
    />
  </div>
</SubPageLayout>

<style>
  .container {
    max-width: 72rem;
  }
  .games {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }

  @media (max-width: 60em) {
    .games {
      max-width: 40rem;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 40em) {
    .games {
      max-width: 24rem;
      grid-template-columns: 1fr;
    }
  }
</style>
