---
import { getCollection } from "astro:content";
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import { Icon } from "astro-icon";
import BaseLayout from "../../layouts/BaseLayout.astro";
import MainHero from "../../components/MainHero.astro";
import WorkCard from "../../components/WorkCard.astro";
import BlogCard from "../../components/BlogCard.astro";
import ToolCard from "../../components/ToolCard.astro";

changeLanguage("en");

const allPosts = await getCollection("posts");
const firstPosts = allPosts.slice(0, 2);
---

<BaseLayout title={t("site.home")}>
  <main>
    <MainHero />
    <!-- 作品 -->
    <section class="page-section">
      <div class="container">
        <header>
          <span class="subheading">{t("homepage.workSubheading")}</span>
          <h2 class="heading-secondary">{t("homepage.workHeading")}</h2>
        </header>
        <div class="works">
          <WorkCard
            href={localizePath("/games/")}
            imgSrc="/images/诡校奇谈.webp"
            title={t("site.games")}
          />
          <WorkCard
            href={localizePath("/art/")}
            imgSrc="/images/Island.webp"
            title={t("site.art")}
          />
          <WorkCard
            href={localizePath("/photos/")}
            imgSrc="/images/photos.webp"
            title={t("site.photos")}
          />
        </div>
      </div>
    </section>

    <div class="grid-blog-toolbox container">
      <!-- 博客 -->
      <section class="blog-section">
        <header>
          <span class="subheading">{t("homepage.blogSubheading")}</span>
          <h2 class="heading-secondary">{t("homepage.blogHeading")}</h2>
        </header>
        <ul class="posts">
          {
            firstPosts.map((post) => (
              <li>
                <BlogCard
                  url={"/posts/" + post.slug}
                  title={post.data.title}
                  pubDate={post.data.pubDate}
                  desc={post.data.description}
                />
              </li>
            ))
          }
        </ul>
        <div class="more-tools">
          <a
            href={localizePath("/blog/")}
            class="link--primary text-icon-container">
            {t("homepage.morePosts")}
            <Icon name="mdi:arrow-right" />
          </a>
        </div>
      </section>
      <!-- 工具箱 -->
      <section class="tool-section">
        <header>
          <span class="subheading heading-tools">
            {t("homepage.toolsSubheading")}
          </span>
          <h2 class="heading-secondary heading-tools">
            {t("homepage.toolsHeading")}
          </h2>
        </header>
        <div class="tools">
          <ToolCard
            titleKey="tools.namesFight.title"
            href={localizePath("/tools/namefight")}
            icon="mdi:sword-fight"
          />
          <ToolCard
            titleKey="tools.pomodoro.title"
            href={localizePath("/tools/pomodoro")}
            icon="mdi:alarm"
          />
          <!-- <ToolCard
            titleKey="tools.unitConverter.title"
            href={localizePath("/tools/unitconverter")}
            icon="mdi:sync"
          /> -->
          <ToolCard
            titleKey="tools.random.title"
            href={localizePath("/tools/random")}
            icon="mdi:dice"
          />
        </div>
        <div class="more-tools">
          <a
            href={localizePath("/tools/")}
            class="link--primary text-icon-container">
            {t("homepage.moreTools")}
            <Icon name="mdi:arrow-right" />
          </a>
        </div>
      </section>
    </div>
  </main>
</BaseLayout>

<style lang="scss">
  .container {
    max-width: 72rem;
  }
  .page-section {
    padding-top: 5rem;
    padding-bottom: 6rem;
  }
  .works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .grid-blog-toolbox {
    padding: 2rem;
    padding-bottom: 6rem;

    display: grid;
    // align-items: flex-start;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }
  .blog-section {
    padding: 2rem 0;
  }
  .posts {
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .tool-section {
    background-color: var(--color-surface);
    border-radius: 1rem;
    padding: 2rem;
  }
  .tools {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-bottom: 4rem;
  }
  .more-tools {
    text-align: right;
  }

  @media (max-width: 48em) {
    .page-section {
      padding-bottom: 3rem;
    }
    .works {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .grid-blog-toolbox {
      display: flex;
      flex-direction: column;
      gap: 5rem;
    }
  }
</style>
