---
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import { Trans } from "astro-i18next/components";
import { Icon } from "astro-icon";
import SubPageLayout from "../layouts/SubPageLayout.astro";

changeLanguage("zh");
---

<SubPageLayout titleKey="site.about">
  <div class="container">
    <h2 class="fullname">
      <ruby>
        楼 <rp>(</rp><rt>Lóu</rt><rp>)</rp>
        朝 <rp>(</rp><rt>Cháo</rt><rp>)</rp>
        立 <rp>(</rp><rt>Lì</rt><rp>)</rp>
      </ruby>
    </h2>
    <a
      href={localizePath("/resume/")}
      class="link--outlined text-icon-container resume">
      {t("site.resume")}
      <Icon name="mdi:arrow-right" />
    </a>
    <article class="intro">
      <h3>{t("about.heading")}</h3>
      <p>{t("about.intro1")}</p>
      <p>{t("about.intro2")}</p>
    </article>
    <aside>
      <section class="mb-m">
        <h3>{t("about.iLike")}</h3>
        <ul>
          <Trans i18nKey="about.hobbies">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </Trans>
        </ul>
      </section>
      <section>
        <h3>{t("about.imLearning")}</h3>
        <ul>
          <Trans i18nKey="about.learning">
            <li></li>
            <li></li>
            <li></li>
          </Trans>
        </ul>
      </section>
    </aside>
  </div>
</SubPageLayout>

<style>
  h2,
  h3 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;

    font-size: 1.2rem;
    line-height: 2;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .fullname ruby {
    font-size: 2rem;
    letter-spacing: 10px;
  }
  .fullname rt {
    color: var(--color-primary-dark);
    letter-spacing: 0;
    font-weight: normal;
  }
  .container {
    max-width: 60rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: flex-start;
    column-gap: 5rem;
    row-gap: 1rem;
  }
  .resume {
    justify-self: flex-start;
  }
  @media (max-width: 28em) {
    aside {
      grid-column: 1 / 3;
      /* align-self: stretch; */
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .container {
      grid-template-columns: 1fr 1fr;
      column-gap: 0;
    }
    .intro {
      grid-column: 1 / 3;
    }
    .resume {
      justify-self: flex-end;
    }
  }
</style>
