---
import { t, changeLanguage } from "i18next";
import SubPageLayout from "../layouts/SubPageLayout.astro";
import { Icon } from "astro-icon/components";

changeLanguage("zh");
---

<SubPageLayout titleKey="site.resume">
  <div class="container">
    <header class="header">
      <hgroup>
        <h2 class="fullname">{t("fullname")}</h2>
        <p class="profession">{t("resume.profession")}</p>
      </hgroup>
      <address class="contact">
        <ul class="mb-s">
          <li title="Website">
            <a
              class="hover-link--underline text-icon-container"
              target="_blank"
              href="https://chaoli.io">
              <Icon name="mdi:web" />
              chaoli.io
            </a>
          </li>
          <li title="Email">
            <a
              class="hover-link--underline text-icon-container"
              href="mailto:louchaoli@stu.cqu.edu.cn">
              <Icon name="mdi:email" />
              louchaoli@stu.cqu.edu.cn
            </a>
          </li>
          <li title="Email">
            <a
              class="hover-link--underline text-icon-container"
              href="mailto:ex012@qq.com">
              <Icon name="mdi:email" />
              ex012@qq.com
            </a>
          </li>
        </ul>
      </address>
    </header>
    <section>
      <h3>{t("resume.edu")}</h3>
      <ul class="edus">
        <li>
          <p class="edu">{t("resume.edu1")}</p>
          <p class="edu-time">{t("resume.eduTime1")}</p>
        </li>
        <li>
          <p class="edu">{t("resume.edu2")}</p>
          <p class="edu-time">{t("resume.eduTime2")}</p>
        </li>
      </ul>
    </section>
    <section>
      <h3>{t("resume.skills")}</h3>
      <div class="cards">
        <div class="card">
          <p class="skill-heading">{t("resume.programLang")}</p>
          <ul class="skills-list">
            <li>C#</li>
            <li>JavaScript</li>
            <li>Python</li>
          </ul>
        </div>
        <div class="card">
          <p class="skill-heading">{t("resume.frontend")}</p>
          <ul class="skills-list">
            <li>Vue</li>
            <li>Svelte</li>
            <li>Astro</li>
          </ul>
        </div>
        <div class="card">
          <p class="skill-heading">{t("resume.gamedev")}</p>
          <ul class="skills-list">
            <li>Unity</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</SubPageLayout>

<style>
  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  section {
    padding-bottom: 2rem;
  }
  [data-icon] {
    color: var(--color-primary-dark);
  }
  .container {
    max-width: 40rem;
  }
  .header {
    display: flex;
  }
  .fullname {
    font-size: 2.5rem;
    font-family: serif;
  }
  .profession {
    font-size: 1.2rem;
  }
  .contact {
    margin-left: auto;
  }
  .edus {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;

    list-style: disc;
  }
  .edu {
    font-size: 1.25rem;
  }
  .edu-time {
    opacity: 0.75;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .card {
    padding: 2rem;

    background-color: var(--color-surface);
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); */
    border-radius: 1rem;
  }
  .skill-heading {
    margin-bottom: 0.5rem;

    font-size: 1.2rem;
    font-weight: bold;
  }
  .skills-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;

    list-style-type: disc;
  }

  @media (max-width: 28em) {
    .cards {
      display: flex;
      flex-direction: column;
    }
  }
</style>
