---
import SubPageLayout from '~/layouts/SubPageLayout.astro';
import SpaceCleanerApp from '~/components/tools/SpaceCleaner.svelte';

import { getCurrentTranslations, getLocaleStaticPaths } from '~/i18n';

export const getStaticPaths = getLocaleStaticPaths;

const t = getCurrentTranslations(Astro.params);

const trans = {
  inputText: t.tools.spacecleaner.inputText,
  cleanLb: t.tools.spacecleaner.cleanLineBreaks,
  clean: t.tools.spacecleaner.clean,
};
---

<SubPageLayout title={t.tools.spacecleaner.title}>
  <div class="container">
    <SpaceCleanerApp client:load trans={trans} />
  </div>
</SubPageLayout>

<style>
  .container {
    max-width: 32rem;
  }
</style>
