---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import type { Translations } from '~/i18n';
import { getCurrentTranslations } from '~/i18n';

export interface Props {
  gameKey: keyof Translations['games'];
  imgSrc: ImageMetadata;
  href: string;
}

const { gameKey, imgSrc, href } = Astro.props;
const t = getCurrentTranslations(Astro.params);

type Game = (typeof t.games)['cquHorror'];
---

<a class="link--card" href={href}>
  <figure class="game-card">
    <Image src={imgSrc} alt="" />
    <figcaption class="info">
      <p class="game-title">{(t.games[gameKey] as Game).title}</p>
      <p class="game-desc">{(t.games[gameKey] as Game).desc}</p>
    </figcaption>
  </figure>
</a>

<style lang="scss">
  img {
    aspect-ratio: 3 / 4;

    display: block;
    width: 100%;
    height: auto;
  }
  .game-card {
    border-radius: 0.5rem;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;

    display: grid;
    grid-template-rows: auto 1fr;
  }
  .game-title {
    font-size: 1.2rem;
    font-weight: bold;

    margin-bottom: 0.5rem;
  }
  .info {
    padding: 0.7rem 0.8rem 0.8rem 0.8rem;
    position: relative;
  }
</style>
