---
import type { ImageMetadata } from 'astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import HoverArrowText from './HoverArrowText.astro';

export interface Props {
  imgSrc: ImageMetadata;
  href: string;
  gameTitle: string;
  isSpecial?: boolean;
}

const { imgSrc, href, gameTitle, isSpecial } = Astro.props;
---

<div class="game-card" class:list={[{ special: isSpecial }]}>
  <a href={href}>
    <figure>
      <Image src={imgSrc} alt="" />
      <figcaption class="info">
        <HoverArrowText>{gameTitle}</HoverArrowText>
      </figcaption>
    </figure>
  </a>
</div>

<style>
  .game-card {
    /* border-radius: 0.5rem; */
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
    grid-column: span 2;
  }

  .special {
    grid-column: span 3;
    grid-row: span 2;
  }

  .game-title {
    font-size: 1.2rem;
    font-weight: bold;

    margin-bottom: 0.5rem;
  }

  .info {
    padding: 0.5rem 0.5rem 0.8rem 0;
  }
</style>
