---
import { Icon } from 'astro-icon/components';
---

<span class="flex">
  <Icon name="mdi:arrow-right" />
  <slot />
</span>

<style>
  [data-icon] {
    width: 0;

    transition: width 0.2s ease-out;

    a:hover & {
      width: 1.2rem;
    }
  }
</style>
