---
import type { Locale } from '~/i18n';
import { locales } from '~/i18n';
import { defaultLocale, getLocaleUrl } from '~/i18n';

const { pathname } = Astro.url;
const localeInUrl = Astro.url.pathname.split('/')[1];
let locale = localeInUrl;
let pathnameWithoutLocale = pathname;

if (locales.includes(locale as Locale)) {
  pathnameWithoutLocale = pathname.slice(locale.length + 1);
} else {
  locale = defaultLocale;
}

const title = locale === 'zh' ? 'Switch to English' : '切换为中文';
const text = locale === 'zh' ? 'EN' : '中文';
const targetLocale = locale === 'zh' ? 'en' : 'zh';

const href =
  localeInUrl === 'posts'
    ? pathname
    : getLocaleUrl(targetLocale, pathnameWithoutLocale);
---

<a href={href} class="hover-link--color" title={title}>
  {text}
</a>
