---
import { Image } from 'astro:assets';
import { getCurrentLocale, getLocaleUrl } from '~/i18n';

const locale = getCurrentLocale(Astro.params);
---

<a
  class="link--card"
  href={getLocaleUrl(locale, '/')}
  title="Back to home page">
  <Image class="logo" src="/favicon.svg" width="48" height="48" alt="Logo" />
  Chaoli
</a>

<style>
  a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 2rem;
    font-family:
      ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
      'DejaVu Sans Mono', monospace;
    font-weight: 500;

    transition: color 0.3s ease-in-out;

    &:hover {
      color: #ea5454;
    }
  }
  .logo {
    width: 3rem;
    height: 3rem;
  }
</style>
