---
import { Icon } from "astro-icon";
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";

const { pathname } = Astro.url;
---

<footer class="main-footer">
  <div class="container footer-grid">
    <div>
      <a href={localizePath("/")} class="logo hover-link--color">
        <div aria-label="Logo">Chaoli</div>
      </a>
      <p class="mb-m">{t("site.description")}</p>
    </div>
    <div>
      <p class="footer-heading">{t("site.links")}</p>
      <ul class="footer-nav-list">
        <li>
          <a href={localizePath("/games/")} class="hover-link--underline"
            >{t("site.games")}</a
          >
        </li>
        <li>
          <a href={localizePath("/tools/")} class="hover-link--underline"
            >{t("site.tools")}</a
          >
        </li>
        <li>
          <a href={localizePath("/art/")} class="hover-link--underline">
            {t("site.art")}
          </a>
        </li>
        <li>
          <a href={localizePath("/blog/")} class="hover-link--underline">
            {t("site.blog")}
          </a>
        </li>
        <li>
          <a href={localizePath("/photos/")} class="hover-link--underline"
            >{t("site.photos")}</a
          >
        </li>
        <li>
          <a href={localizePath("/about/")} class="hover-link--underline"
            >{t("site.about")}</a
          >
        </li>
      </ul>
    </div>
    <div>
      <p class="footer-heading">{t("language")}</p>
      <ul class="mb-m">
        <li>
          <a href={localizePath(pathname, "zh")} class="hover-link--underline">
            中文
          </a>
        </li>
        <li>
          <a href={localizePath(pathname, "en")} class="hover-link--underline">
            English
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-contact">
      <p class="footer-heading">{t("site.contact")}</p>
      <address>
        <ul class="mb-s">
          <li>
            <a
              href="mailto:louchaoli@stu.cqu.edu.cn"
              class="hover-link--underline">
              louchaoli@stu.cqu.edu.cn
            </a>
          </li>
          <li>
            <a href="mailto:ex012@qq.com" class="hover-link--underline">
              ex012@qq.com
            </a>
          </li>
          <!-- <li>
            <a href="#" class="link--outlined">简历 {`>`}</a>
          </li> -->
        </ul>

        <ul class="links">
          <li>
            <a
              rel="noreferrer"
              target="_blank"
              href="https://github.com/HotranLandoler"
              title="Github">
              <Icon name="simple-icons:github" class="icon" />
            </a>
          </li>
          <li>
            <a
              rel="noreferrer"
              target="_blank"
              href="https://gitee.com/hotran"
              title="Gitee">
              <Icon name="simple-icons:gitee" class="icon" />
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
  <div class="bottom-row" lang="en">
    <div class="container">
      <p><small>© 2023 LOU Chaoli</small></p>
      <p class="made-with"><small>Made with Astro.js</small></p>
    </div>
  </div>
</footer>

<style lang="scss">
  .main-footer {
    border-top: 1px solid #eee;

    color: var(--color-on-background);
  }

  .footer-grid {
    padding-top: 3rem;
    padding-bottom: 2rem;

    display: grid;
    grid-template-columns: 3.5fr 1fr 0.5fr 1fr;
    align-items: flex-start;
    justify-items: flex-start;
    gap: 4rem;
  }

  .footer-heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .footer-nav-list {
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .bottom-row {
    color: var(--color-on-primary);
    background-color: var(--color-primary);
    padding: 2rem 0;

    .container {
      display: flex;
    }
  }

  .made-with {
    margin-left: auto;
  }

  .links {
    padding: 0 0.5rem;

    display: flex;
    align-items: center;
    gap: 1.5em;
  }
  .links a {
    display: inline-block;
    cursor: pointer;
  }
  .icon,
  .icon-img {
    width: 2rem;

    color: var(--color-on-background);

    opacity: 0.5;
    transition: opacity 0.2s;
  }
  .icon:hover,
  .icon:active,
  .icon-img:hover,
  .icon-img:active {
    opacity: 1;
  }
  .icon-img {
    filter: grayscale(100%);
  }

  @media (max-width: 60em) {
    .footer-grid {
      gap: 1rem;
    }
  }

  @media (max-width: 48em) {
    .container {
      max-width: 40rem;
    }
    .footer-grid {
      grid-template-columns: 1fr 1fr;
      row-gap: 0;
      column-gap: 3rem;
    }
  }

  @media (max-width: 28em) {
    .footer-grid {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    .bottom-row .container {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }
    .made-with {
      margin-left: 0;
    }
  }
</style>
