---
import { getCurrentLocale, getTranslations, getLocaleUrl } from '~/i18n';
import ButtonLink from './ButtonLink.astro';
import Trans from './Trans.astro';

const locale = getCurrentLocale(Astro.params);
const t = getTranslations(locale);
---

<section class="hero-section hero-container">
  <div class="hero-content">
    <h1 class="hero-heading">
      <Trans localizedText={t.homepage.heroHeading}>
        <span class="name"></span>
      </Trans>
    </h1>
    <p class="hero-text">{t.homepage.heroDesc}</p>
    <ButtonLink href={getLocaleUrl(locale, '/about/')} title="关于我">
      {t.homepage.aboutme}
    </ButtonLink>
  </div>
</section>

<style>
  .hero-section {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;

    padding-bottom: 8rem;
  }
  .hero-content {
    grid-column: 2 / 3;
  }
  .hero-heading {
    margin-bottom: 1rem;

    line-height: 1.1;
    font-size: 3.5rem;
    color: var(--color-on-background-light);
  }
  .name {
    color: var(--color-on-background);
  }
  .hero-text {
    font-size: var(--font-size-h4);
    margin-bottom: 2rem;
  }

  @media (max-width: 48em) {
    .hero-section {
      padding-bottom: 0;
    }
    .container {
      display: flex;
      flex-direction: column;

      &::after {
        display: none;
      }
    }
  }
</style>
