---
import { Icon } from 'astro-icon/components';

export interface Props {
  cardTitle: string;
  href: string;
  icon: string;
}

const { cardTitle, href, icon } = Astro.props;
---

<a class="tool-card" href={href}>
  <Icon name={icon} class="icon" />
  <p class="title">{cardTitle}</p>
</a>

<style>
  .tool-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    background-color: var(--color-surface);
    transition: all 0.3s;

    &:hover {
      border-radius: 2rem;
    }

    &:hover .icon {
      transform: translateY(-0.5rem);
    }
  }
  .icon {
    width: 3rem;
    transition: all 0.3s;
  }
</style>
