---
import { Icon } from 'astro-icon/components';

export interface Props {
  cardTitle: string;
  href: string;
  icon: string;
}

const { cardTitle, href, icon } = Astro.props;
---

<a class="link--card tool-card" href={href}>
  <Icon name={icon} class="icon mx-auto" />
  <p class="title">{cardTitle}</p>
</a>

<style lang="scss">
  .tool-card {
    padding: 1rem;

    text-align: center;

    background-color: var(--color-background);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 0 0 0.2rem var(--color-primary);
    }

    &:hover .icon {
      color: var(--color-primary);
    }
  }
  .title {
    font-size: 1.2rem;
  }
  .icon {
    width: 2rem;
    transition: color 0.3s;
  }
</style>
